{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table class="table table-striped" style="width:100%">
      <tr>
        <th>Symbol</th>
        <th>Shares</th>
        <th>Price</th>
        <th>TOTAL</th>
      </tr>
    {% for stock in stocks %}
      <tr>
        <td>{{ stock.symbol }}</td>
        <td>{{ stock.amount }}</td> 
        <td>{{ stock.price }}</td>
        <td>{{ stock.total }}</td>
      </tr>
    {% endfor %}
      <tr>
        <td>CASH</td>
        <td></td>
        <td></td> 
        <td>{{ cash }}</td>
      </tr>
      <tr>
        <td>Grand Total</td>
        <td></td>
        <td></td> 
        <td><b>{{ total }}</b></td>
      </tr>
    </table>
{% endblock %}